In [1]:
import pandas as pd
import numpy as np
import urllib.request, json
from pandas.io.json import json_normalize
import helper

In [2]:
# Прочитать файл с id матчами
matches_path = pd.read_csv('table/id match/id matches from 1.09.16 to end patch 7.06.csv')
#matches_path707 = pd.read_csv('test.csv')
# Прочитать файл с нормальными id команд
file_name_and_ID_team = json.load(open('ID_nameTeam (name main) (correct)'))
# Список с командами не из моего списка команд с id
name_teams_not_with_myID = []
# Основной DF для всех матчей
matches_df = pd.DataFrame()
matches_path[:2]

     match_id  avg  count  winrate  winrate_wilson  sum  min  max  stddev
0  2691452197  1.0      1      0.5         0.23659   10    1    1       0
1  2691465961  1.0      1      0.5         0.23659   10    1    1       0

In [22]:
# так как длина пиков и банов в патче 7,07 равна 22 а не 20 для низких патчей
names = ['id matches from 1.09.16 to end patch 7.06.csv']#, 'id matches from 1.09.14 to 31.08.15.csv', 
         #'id matches from 1.09.15 to 31.08.16.csv'] , 'id matches from patch 7.07 to 22.01.18.csv']
a = [935678110, 935808093, 935867523, 936088110, 936138006, 936190138, 936323629, 936442011, 936581517, 936590634, 936644511,
     936734353, 959461653, 959557604, 959579369, 959608565]

# for name in names:
#     matches_path = pd.read_csv('table/id match/' + name)
matches_df = pd.DataFrame()

for ID in a: #matches_path['match_id']:
    df = helper.get_data_for_match(ID, matches_df, 20, file_name_and_ID_team)
    #print (df)
    matches_df = matches_df.append(df)

In [23]:
len(matches_df)

15

In [24]:
path = 'table/data for matches/table with matches from 1.09.14 to 31.08.15.csv'
file = pd.read_csv(path ,encoding='latin').drop(['Unnamed: 0'], axis=1)
file = file.append(matches_df)
file.to_csv(path)