In [2]:
import pandas as pd
import numpy as np
import json

In [45]:
# Прочитать файл с героями
heroes = pd.read_csv('All_heroes.csv').drop(['id.1'], axis=1)
# Прочитать файл с нормальными id команд
teams = json.load(open('ID_nameTeam (name main) (correct)'))
# Матчи
matches = pd.read_csv('table wtih team, kills, picks path 7.06.csv', index_col=0, 
                      encoding='latin-1').reset_index().drop(['index'], axis=1)

In [96]:
test_matches = matches[:5]
test_matches

,radiant_id,radiant_name,dire_id,dire_name,kills,radiant1,radiant2,radiant3,radiant4,radiant5,dire1,dire2,dire3,dire4,dire5,radiant_win
0,70.0,CAVALRY,59.0,Rock Gaming,33,97,112,106,66,104,75,18,28,65,70,1
1,59.0,Rock Gaming,70.0,CAVALRY,57,28,110,29,95,11,32,92,54,74,55,0
2,29.0,TNC Pro Team,23.0,Invictus Gaming,36,37,51,55,49,48,64,16,77,88,76,1
3,23.0,Invictus Gaming,29.0,TNC Pro Team,60,16,8,87,34,33,64,55,28,95,25,0
4,18.0,Virtus.pro,33.0,Elements Pro Gaming,42,71,55,92,46,93,27,7,20,10,17,1

In [97]:
heroes[:2]

,id,attack_type,localized_name,primary_attr,roles,Disabler,Nuker,Carry,Initiator,Escape,Durable,Support,Pusher,Jungler
0,1,Melee,Anti-Mage,agi,"['Carry', 'Escape', 'Nuker']",0,1,1,0,1,0,0,0,0
1,2,Melee,Axe,str,"['Initiator', 'Durable', 'Disabler', 'Jungler']",1,0,0,1,0,1,0,0,1

In [111]:
# Создвание списка имен героев и списка имен команд и объединение его
name_heroes = heroes['localized_name'].values

a = []
for i in teams.keys():
    a.append(i)
name_team = np.array(a)

name_columns = np.concatenate((name_team, name_heroes), axis=0)

In [112]:
# df в который записыватеся пик команда с росписью кажого героя    
df_features_name = pd.DataFrame(columns=name_columns)
# df из которого сотавляется новый df
little = test_matches

for index in range(len(little)):
    # Заполнение команд
    df_features_name.loc[index, little['radiant_name'].loc[index]] = 1
    df_features_name.loc[index, little['dire_name'].loc[index]] = -1
    # radiant
    for i in range(1,6):
        id_her = little['radiant' + str(i)].loc[index]
        name_her = heroes['localized_name'][heroes['id'] == id_her].item()
        df_features_name.loc[index, name_her] = 1
    # dire
    for i in range(1,6):
        id_her = little['dire' + str(i)].loc[index]
        name_her = heroes['localized_name'][heroes['id'] == id_her].item()
        df_features_name.loc[index, name_her] = -1     
df_features_name['kills'] = little['kills']
df_features_name['radiant_win'] = little['radiant_win']
df_features_name = df_features_name.fillna(0)

In [113]:
df_features_name

,OG,Team Secret,Digital Chaos,Effect,LGD.Forever Young,LGD-GAMING,Mineski.亿鼎博,Fnatic,Vega Squadron,Gambit Esports,...,Terrorblade,Phoenix,Oracle,Winter Wyvern,Arc Warden,Monkey King,Dark Willow,Pangolier,kills,radiant_win
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,33,1
1,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,57,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,36,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,60,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,42,1