In [2]:
import pandas as pd
import numpy as np
import urllib.request, json
from pandas.io.json import json_normalize

# записать JSON объект с сайта по id матчу
def get_match_on_id(ID, site_name='https://api.opendota.com/api/matches/'):
    #название сайта для одного матча
    site = site_name + str(ID)
    #Прочитаь JSON с сайта для одного матча
    with urllib.request.urlopen(site) as url:
        return json.loads(url.read().decode())

# Вытащить данные из json объекта по ключу в виде датафрейма
def get_from_JSON_for_key(data, key):
    return pd.DataFrame(data.get(key))

# Вытащить имя команды из объекта json по их ID
def get_teamName(data, dire_or_radiant):
    team_id = data.get(dire_or_radiant + '_team').get('team_id')
    data_name_teams = get_match_on_id(team_id, 'https://api.opendota.com/api/teams/')
    return data_name_teams.get("name")

# Вытащить ID команды из моего файла НАПИСАТЬ ФУНКЦИЮ

In [117]:
matches_path707 = pd.read_csv('id for 7.07 to 29.12.2017.csv')

#в списке матчей взять id одного матча
#ID = matches_path707['match_id'].iloc[14]
ID = 3572455421
data = get_match_on_id(ID)

In [130]:
get_from_JSON_for_key(data, 'picks_bans')
len(result_with_picks_bans['hero_id'])
try:
    print (data.get('dire_team').get())
except AttributeError:
    print ('d')

d

# Вытащить победили ли radiant

In [119]:
radiant_win = data.get('players').pop().get('radiant_win')
int(radiant_win)

1

# Пики и баны по одному матчу

In [95]:
# Выбрать DF по Picks_bans (пики и баны для матча 3534749496)
result = get_from_JSON_for_key(data, 'picks_bans') # можно и другим путем => json_normalize(data = data, record_path='picks_bans')
# result = result[result['is_pick']== True].drop(['ord', 'order'], axis=1)

# Первый пик радиант
first_ban_radiant = (int)(not bool(result['team'][0]))

# Запись всех пиков и банов подряд из DF по пикам и банам в массив
a =[first_ban_radiant]
if len(result['hero_id']) == 22:
    for id_hero in result['hero_id']:
        a.append(id_hero)

# Название столбцов в DF пики и баны
name_columns_picks_bans =['first_ban_radiant', 'ban1', 'ban2','ban3', 'ban4', 'ban5', 'ban6', 'pick1', 'pick2', 'pick3', 'pick4', 
                          'ban7', 'ban8','ban9', 'ban10', 'pick5', 'pick6', 'pick7', 'pick8', 
                          'ban11', 'ban12', 'pick9', 'pick10']
# создание DF для пиков и банов с правильным названием столбцов
picks_bans = pd.DataFrame([a], columns=name_columns_picks_bans)
picks_bans

,first_ban_radiant,ban1,ban2,ban3,ban4,ban5,ban6,pick1,pick2,pick3,...,ban9,ban10,pick5,pick6,pick7,pick8,ban11,ban12,pick9,pick10
0,1,6,100,92,71,53,60,3,88,58,...,43,109,74,15,114,65,63,29,103,12

# Название двух команд

In [120]:
radiant_name = get_teamName(data, 'radiant')
dire_name = get_teamName(data, 'dire')
print (radiant_name)
print (dire_name)

AttributeError: 'NoneType' object has no attribute 'get'

In [97]:
# Вытащить ID команд из моего созданного файла
file_name_and_ID_team = json.load(open('ID_nameTeam'))
radiant_id = file_name_and_ID_team.get(radiant_name)
dire_id = file_name_and_ID_team.get(dire_name)
print (radiant_id)
print (dire_id)

4
5

# ID и название лиги

In [98]:
league = data.get('league')
league_name = league.get('name')
league_id = league.get('leagueid')

# Версия патча

In [99]:
version_id = data.get('version')

# Количество убийств в матче

In [100]:
dire_score = data.get('dire_score')
radiant_score = data.get('radiant_score')

# Регион

In [101]:
region = data.get('region')

# Сбор всех данных в таблицу (DataFrame)

In [102]:
table_for_match = pd.DataFrame([[ID, version_id, region,  league_name, league_id, radiant_name, radiant_id, dire_name, 
                                 dire_id, radiant_score, dire_score]], 
                        columns=['id matches', 'patch', 'region', 'league_name', 'league_id', 'radiant_name', 
                                 'radiant_id', 'dire_name', 'dire_id', 'radiant_score', 'dire_score'])

In [103]:
match_df = pd.merge(table_for_match, picks_bans, left_index=True, right_index=True)
match_df['radiant_win'] = radiant_win

In [104]:
match_df

,id matches,patch,region,league_name,league_id,radiant_name,radiant_id,dire_name,dire_id,radiant_score,...,ban10,pick5,pick6,pick7,pick8,ban11,ban12,pick9,pick10,radiant_win
0,3534749496,21,12,Dota 2 Professional League 2016,4920,LGD.Forever Young,4,LGD-GAMING,5,52,...,109,74,15,114,65,63,29,103,12,True

In [106]:
data.get('series_type')

1