In [3]:
import pandas as pd
import numpy as np
import json

In [11]:
# Прочитать файл с героями
heroes = pd.read_csv('All_heroes.csv')
# Прочитать файл с нормальными id команд
teams = json.load(open('ID_nameTeam'))
# Матчи
matches = pd.read_csv('table wtih team & picks path 7.06.csv', index_col=0, encoding='latin-1')

In [12]:
matches[:2]

,radiant_id,dire_id,radiant1,radiant2,radiant3,radiant4,radiant5,dire1,dire2,dire3,dire4,dire5,radiant_win
0,70.0,59.0,97,112,106,66,104,75,18,28,65,70,1
0,59.0,70.0,28,110,29,95,11,32,92,54,74,55,0

In [14]:
heroes[:2]

,id,attack_type,id.1,localized_name,primary_attr,roles,Disabler,Nuker,Carry,Initiator,Escape,Durable,Support,Pusher,Jungler
0,1,Melee,1,Anti-Mage,agi,"['Carry', 'Escape', 'Nuker']",0,1,1,0,1,0,0,0,0
1,2,Melee,2,Axe,str,"['Initiator', 'Durable', 'Disabler', 'Jungler']",1,0,0,1,0,1,0,0,1

In [16]:
# Формируем "мешок слов" по героям
def hero_bag(X):
    X_pick = np.zeros((X.shape[0], len(heroes)))
    for i, match_id in enumerate(X.index):
        for p in xrange(5):
            X_pick[i, X.ix[match_id, 'r%d_hero' % (p+1)]-1] = 1
            X_pick[i, X.ix[match_id, 'd%d_hero' % (p+1)]-1] = -1

    return pandas.DataFrame(X_pick, index=X.index)